body {
    background: #3c3c3c;
    color: aliceblue;
}

h1 {
    font-size: 36pt;
    color: rgb(85, 226, 67);
}

p {
    color: aliceblue;
}

b {
    color: yellow;
}

p span {
    color: yellow;
    font-weight: bold;
}

h2 {
    color: rgb(85, 226, 67);
}


img {
    width: 200px;
    height: 200px;
}


a {
    color: red;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p::first-letter {
    font-size: 20px;
}

dl {
    margin-top: 5px;
}

dt {
    color: yellow;
}