<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

</head>

<body>

    <div class="login-page">
        <div class="form"
            style="margin:500px;width: 300px;text-align: center;border: 2px solid gray;margin-top: 100px;">
            <form action="/process_login" method="post" class="login-form">
                <br><br>
                <input type="text" placeholder="username" name="username" required />
                <br><br>
                <input type="password" placeholder="password" name="password" required />
                <br><br>
                <input type="submit" value="Login">
                <br><br>

            </form>
        </div>
    </div>

</body>

</html>