<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta author="MD SHAFIQUL ISLAM">
    <title>Express Assignment</title>

    <style>
        label {
            font-weight: bold;
        }
    </style>
</head>

<body>

    <div id="myDIV" class="myClass" name="myName">
        <div id="innerDIV">

        </div>
    </div>
    <h2>User Inputs</h2>

    <h4>Input Text: </h4>
    inpur text goes here
    <h4 class="degree">Degree:</h4>
    selected degree

    <h4 id="courseheader">Select Courses:</h4>
    <div id="chkBoxes">

    </div>
    <h4>Select Box:</h4>

    <h4>Your message:</h4>

</body>

</html>