<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Part</title>
    <link rel="stylesheet" href="./footer.css">
</head>

<body>
    <div id="foot">
        <div id="content">
            <div id="left">
                <h4>About Us</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sed. Quas quae dolorem, et minima
                eligendi laudantium reprehenderit facilis sequi quasi eos animi aliquid, assumenda officiis natus dicta,
                repellat accusantium?
            </div>
            <div id="centre">
                <h4>Latest
                    Tweet</h4>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, delectus asperiores rerum libero
                veritatis corporis ducimus, in adipisci eaque praesentium iure nesciunt tempora numquam cupiditate natus
                repellendus quisquam iusto aliquam?
            </div>
            <div id="right">
                <h4>Instragram</h4>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vero, ad eaque ratione excepturi quibusdam
                dolores nisi deserunt pariatur veniam repudiandae repellendus. Quaerat deleniti eum consequatur non,
                totam nesciunt ad officia.
            </div>

        </div>
        <div id="bottom">

        </div>
    </div>
</body>

</html>